<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rank your favourite Wanks!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href='https://fonts.googleapis.com/css?family=Oleo+Script:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Lato' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container-fluid">

    <header>
      <div class="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/"><h1 class="logo">WankRank</h1><a/>
          </div>
          <div class="col-md-3">
            <%= form_for @conn, video_path(@conn, :index),[as: :search], fn f -> %>
              <div class="form-group">
                <%= text_input f, :terms, class: "form-control rounded-input", placeholder: "Search for a Wankable" %>
                <%= error_tag f, :terms%>
              </div>
            <% end %>
          </div>
          <%=
            if @view_module==Wankrank.VideoView && @view_template=="index.html" do
              render(
                Wankrank.VideoView, "new_link_form.html", changeset: @changeset,
                conn: @conn
              )
            end
           %>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px; ">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                role="button" aria-haspopup="true" aria-expanded="false">
                <span><img src="/images/Facepalm-50-WRblue.png" alt="username-icon"></span>
                <%= @current_user.username %><span class="caret"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
      </div>
      <!--//<nav role="navigation">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
        </ul>
      </nav>
      !-->
    </header>
    </div>
    <div class="container-fluid">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <div class="col-md-11 col-md-offset-1">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <div class="container-fluid">
      <span class="col-md-10 footer">WankRank &copy
      <script type="text/javascript">document.write(new Date().getFullYear());
      </script></span>
      <span class="col-md-2 text-right footer">Ariana v2.0
        <p><span class="footer-release">Released 8 June 2016</span></p>
      </span>
    </div>
  </body>
</html>
