<%=
  categories =  Application.get_env(:wankrank, :categories)
  for category <- categories do %>
  <li white-space: no-wrap><%= link category, to: video_path(@conn, :categories,
   downcase_and_dash(category)), class: "menu-bar" %></li>
<% end %>
