<h2>Edit video</h2>

<%= render "form.html", changeset: @changeset,
  action: video_path(@conn, :update, @video),
  categories: @categories
%>
<div class="row">
<div class="col-md-10 col-md-offset-1 form-group">
<%= link "Back", to: video_path(@conn, :index);%>
</div>
</div>
