body {
  background-color: black;
  color: gold;
}

header {
  background: black; 
}

h1 {
  background-color: black;
  color: gold !important;
}
p, input, h2, a{
  font-family: 'Lato', sans-serif;
}

.dropdown-menu li a {
  color: #337ab7;
}

.dropdown-menu li a:hover {
  background-color: #30606c;
}

.dropdown-menu li a:active {
  color: gold;
}

.dropdown-menu {
  position: relative;
  top: auto;
  left: auto;
  right:auto;
  float: none;
}

li.dropdown.open #dropdown-toggle {
  color: gold;
  text-decoration: none;
}

span.caret {
  color: #337ab7;
}

.username-dropdown-menu {
  margin-top: 35px;
  list-style: none;
}

.wankrank-burger-menu {
	background-color: white;
  margin-top: 35px;

}
.wankrank-burger-menu	span {
  background-color: black;
}

.link-text-input {
  height: 80px;
  font-size: 1.8em;
}

.rounded-input {
  border-radius: 20px 20px 20px 20px;
}

.main-input-hero {
  margin-top: 80px;
}

.fancy-text {
  font-family: 'Oleo Script', cursive;
}

.no-padding {
	padding: 0;
}

.video {
  height: 120px;
  width: 200px;
}


.video-container ul {
    padding: 0; /* remove default padding and all margins! */
    margin: 0;
    list-style-type: none; /* remove the • */
}
.video-container ul li {
    /* position: relative; */
    padding-left: 10px;
    padding-right: 10px;
    width: 180px;
    height: 250px;
    background-color: black;
    float: left;
    
    /* margin-bottom: 30px; */
}

.video-details {
  font-size: 0.9em;
  color: gray;
  width: 180px;
  padding-right: 5px;
  height: 4.2em;
  word-wrap: break-word;
  margin-bottom:7px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wankcount-row {
  font-size: 0.9em;
  width: 180px;
}

.wankbutton {
  padding: 0;
  background-color: black;
  cursor: pointer;
  box-shadow: 1px 2px #123f36;
}

.wankbutton:focus img {
  box-shadow: none;
  transform: translateY(1px);
  background-color: black;
  /* Only for Chrome, Safari and Opera */
  -webkit-animation-name: wank;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function; ease-out;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 4;
  -webkit-animation-direction: normal;
}

@-webkit-keyframes wank {
  0% {left:0px; top:0px;}
  20% {left:0px; top:2px;}
  30% {left:0px; top:-1px;}
  50% {left:-0.5px; top:2px;}
  60% {left:0.5px; top:-3px;}
  80% {left:0px; top:2px;}
  100% {left:0px; top:-2px;}
}

.wankbutton img:hover {
  position: relative;
  top: 1px;
}

.or-text {
	vertical-align: middle;	
	text-align: center;
}

.col-md-1 .or-text {
	padding-top: 20px;	
}

.col-sm-12 .or-text {
	padding: 0px;
}

h1 {

  color: black;

}

alert {
  display: none;
}

.show-on-link {
  display: none;
}

.pagination li a {
  color: #337ab7;
  background-color: black;
  border-color: #30606c;
}

.pagination li a:hover {
  color: gold;
  background-color: black;
  border-color: #30606c;
}

.pagination li.active a {
  color: #30606c;
  background-color: gold;
}

.pagination li.active a:hover {
  color: #30606c;
  background-color: gold;
}

.menu-bar.active {
  color: gold;
}

.footer {
  color: #30606c;
}

.footer-release {
  font-size: 0.8em;
}
