body {
  background-color: black;
  color: gold;
}

header {
  background: black; 
}

h1 {
  background-color: black;
  color: gold !important;
}
p, input, h2, a{
  font-family: 'Lato', sans-serif;
}
.link-text-input {
  height: 80px;
  font-size: 1.8em;
}

.rounded-input {
  border-radius: 20px 20px 20px 20px;
}

.main-input-hero {
  margin-top: 80px;
}

.fancy-text {
  font-family: 'Oleo Script', cursive;
}

.no-padding {
	padding: 0;
}

.video {
  height: 120px;
  width: 200px;
}


.video-container ul {
    padding: 0; /* remove default padding and all margins! */
    margin: 0;
    list-style-type: none; /* remove the • */
}
.video-container ul li {
    /* position: relative; */
    padding-left: 10px;
    padding-right: 10px;
    width: 180px;
    height: 250px;
    background-color: black;
    float: left;
    
    /* margin-bottom: 30px; */
}

.video-details {
  font-size: 0.9em;
  color: gray;
  width: 180px;
  height: 60px;
  word-wrap: break-word;
}

.wankcount-row {
  font-size: 0.9em;
  width: 180px;
}

.wankbutton {
  padding: 0;
}

.or-text {
	vertical-align: middle;	
	text-align: center;
}

.col-md-1 .or-text {
	padding-top: 20px;	
}

.col-sm-12 .or-text {
	padding: 0px;
}

h1 {

  color: black;

}

alert {
  display: none;
}

.show-on-link {
  display: none;
}

.pagination li a {
  color: #337ab7;
  background-color: black;
  border-color: #30606c;
}

.pagination li a:hover {
  color: gold;
  background-color: black;
  border-color: #30606c;
}

.pagination li.active a {
  color: #30606c;
  background-color: gold;
}

.pagination li.active a:hover {
  color: #30606c;
  background-color: gold;
}

.menu-bar.active {
  color: gold;
}

.footer-release {
  color: #30606c;
  font-size: 0.8em;
}
